/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}




/* 2. Content ================================= */

.bgImg{
	min-height: 75vh;
	position: relative;
	background-image: url("../img/botan1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 

	.caption{
		width:100%;
		position: absolute;
		top:50%;
		left:0;
		text-align: center;
		color:#000;

		.border{
			background-color: #111;
			color: #fff;
			padding: 6px;
			font-size: 25px;
			letter-spacing: 10px;
		}

	}
}

.bgImg2{

	background-image: url("../img/botan2.jpg");
}

.bgImg3{

	background-image: url("../img/botan3.jpg");
}

.bgImg4{

	background-image: url("../img/botan4.jpg");
}


.textBox{

	color: #777;
	background-color: #fff;
	text-align: center;
	padding: 20%;
	text-align: justify;
	position: relative;

	.miniImg{
		position: fixed;
		bottom:3%;
		right:0;
		width:50%;
		display: flex;
		justify-content: center;
		img{
			width:50%;
		}
	}

}
