/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/
 $body : #ccc;
 $tran :  rgba(99, 95, 157, 0.5);
 $fade : fadeIn 5s ease-in-out infinite;

 $tran1_green: #85A055;

/* 0. Reset ================================= */
@import 'reset';
@import 'base/colors';
@import 'base/media';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	position: relative;
	//background: $tran;

}

.bttnBox{
	width:40%;
	align-self: center;
	margin: 15% 0;
	@media#{$tablet}{
		width:25%;
	}
}

.bttnBox:hover{
	cursor: grab;
}

section.transition{
	z-index: 50;
	background-color:none;
	width:100vw;
	height: 100vh;
	position: fixed;
	top:0;
	left:0;
	animation: none;
	
}


.bgImg{
	min-height: 100vh;
	position: relative;
	z-index: 99;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0% auto;
	//border-radius: 25px;
	.caption{
		width: 100%;
		display: flex;
		flex-direction: column;

		.scroll_IMG{
			width:45%;
			img{
				width:100%;
				border-radius: 5%;
			}
		}

		.img1{
			margin:15%;
		}

		.img2{
			align-self: flex-end;
			margin:5%;
		}

		.img3{
			position: relative;
			left:10%;
			
		}

		.cap-textBox{
			width: 50%;
			color: $botanText;
			align-self: center;
			margin:5%;
		}
	

	}
}

//keyframe
@keyframes fadeIn {

	0%{
		display: none;
		opacity: 0;
	}
	25%{
		display: block;
		opacity: .6;
	}
	25%{
		display: block;
		opacity: 1;
	}
	100%{
		display: blok;
		opacity: 0;
	}
	
}
/* 2. Content ================================= */
.wrap_back{
	position: absolute;
	z-index: 1;
	//visibility: hidden;

	*.caption{
		visibility: hidden;
	}
}

.wrap_front{
	//opacity: .5;
	position: relative;
	z-index: 99;
	//visibility: hidden;

	.scroll_IMG{
		width:15%;
		margin:0 auto;

		img{
			width:65%;
		}
	}
	.bgImg{
		background: none;
	}



}

.bgImg1{
	margin-top:0;
	background-image: url("../img/BG1.daisies.jpg");
	
	display: flex;
	align-items: center;
	.caption{
		
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		.hdr_imgs{
			width:100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media#{$desktop}{
				width:70%;
			}
			img{
				width:100%;
			}

			.imaginary{
				margin:5%;
				font-size:2em;
				color:white;
			}

			.date{
				align-self: flex-end;
				margin:5%;
				font-size:1.2em;
				color:white;
			}
			.bttnBox{
				width:45%;
				align-self: center;
				@media#{$tablet}{
					width:30%;
				}
				@media#{$desktop}{
					margin:5%;
				}
			}
		}
		img.rabbitHole{
			width:30%;
			position: absolute;
			left: 5%;
			z-index: 99;
			bottom: -6%;
			@media#{$tablet}{
				left:5%;
			}
			@media#{$desktop}{
				left:10%;
				width:25%;
				bottom:-30%;
				
			}
		}
		
	}
}

.bgImg2{
	//animation: $fade;
	 background-image: url("../img/BG2.leaves.jpg");
	//background-image: none;
	//animation-delay: 2s;
	.cap2{
		
		.img1{
			width: 80%;
			@media#{$tablet}{
				width:50%;
				align-self: flex-end;
				margin: 30% 5%;
			}
		}
		.img2{
			width:90%;
			margin: 5% auto;
			@media#{$tablet}{
				width:60%;
				align-self: flex-start;
				margin: 5%;
			}
		}
		.img3{
			width:60%;
			margin-bottom:50%;

			@media#{$tablet}{
				width:50%;
				left:5%;
			}
		}
	}


	
}

.textBox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width:100%;
	height:100%;
	position: relative;
	z-index:99;
	background-image: url("../img/BG.botanCenter.jpg");
	background-size:cover;
	position: relative;
	@media #{$tablet}{
		align-items: flex-start;
	}
	@media #{$desktop}{
		flex-direction: row;
		justify-content: center;
		
	}

	.scroll_IMG{
		//background-color: yellow;
		width:90%;
		margin: 0 auto;
		height: 100px;
		position: relative;
		top:-100px;	
		img{
			top:-100%;
			right:0;
			position: absolute;
			width:50%;
			border-radius: 5%;

			@media#{$tablet}{
				width: 40%;
			}
		}
	}

	.txtBx{
		width:85%;
		 padding:3%;
		// margin:3%;
		color:$botanText;
		//background-color: yellow;
		@media #{$tablet}{
			width:60%;
		}
		@media #{$desktop}{
			width:50%;
			padding:7%;
			margin:5% auto;
		}

	}

	.txtBox1a{
		font-size: 2em;
	}

	.txtBox1b{
		font-size: 1.2em;
		p{
			padding: 1%;
		}
	}
}

.bgImg3{

	.cap3{

		.img1{
			width: 70%;

			@media#{$tablet}{
				width: 60%;
			}

			@media#{$desktop}{
				width: 40%;
			}
		}

		.cap-textBox3{
			text-align: right;
			align-self: flex-end;
			font-size: 1.5em;
			line-height: 1.2em;


			@media#{$tablet}{
				font-size:2em;
			}
		}


		.img2{
			width:90%;
			@media#{$desktop}{
				width: 50%;
				align-self: flex-start;
			}
		}
		

		.img3{
			width: 70%;
			align-self: flex-end;
			left:0;
			margin:5%;
			position: relative;
		

			.yellow-mushroom{
				width:50%;
				position: absolute;
				left:-20%;
				bottom:-10%;
			}
		}

		.img4{
			margin: 15%;
			width: 35%;
			align-self: center;

			@media#{$tablet}{
				margin:5%;
				align-self: flex-end;
			}

			@media#{$desktop}{
				width: 20%;
			}
		}
	}

	background-image: url("../img/BG3.yellowFlowers.jpg");
}

.bgImg4{

	.cap4{

		.cap-textBox{
			width:80%;
			text-align: center;
			font-size: 1.5em;
			line-height: 1.2em;
			@media#{$tablet}{
				width:40%;
			}
			@media#{$desktop}{
				width: 30%;
			}
		}

		.img1{
			width:70%;
			margin:5%;
			@media#{$desktop}{
				width: 50%;
				align-self: flex-end;
			}
		}
		.img2{
			width: 90%;
			margin: 15% auto;
			@media#{$desktop}{
				width: 60%;
			}

			.chess-set{
				@media#{$tablet}{
					display:none;
				}
			}
		}

		.img4{
			width: 35%;
			margin: 10%;
			align-self: flex-end;
			@media#{$desktop}{
				align-self: flex-start;
				width: 20%;
			}
		}

	}
	background-image: url("../img/BG4.purpleFlowers.jpg");
}

.bgImg5{

	.cap5{
		height: 100vh;
		position: relative;
		
		.img1{
			display: none;
			width:70%;
			top:-20%;
			right:0;
			margin:5%;
			align-self: flex-end;
			position: relative;
			@media#{$tablet}{
				display: block;
			}
		}
	
		.img2{
			width:100%;
			max-width: 500px;
			position: absolute;
			top:50%;
			align-self: center;
			@media#{$tablet}{
				top:120%;
				right:45%;

			}
			
		}	
	}
	.clear-box{
		visibility: hidden;
		height: 450px;
		@media#{$desktop}{
			height: 850px;

		}
		
	}


	background-image: url("../img/BG5.CheshireLeaves.jpg");
}

.bgImg6{

	.cap6{

		.img1{
			width:70%;
			align-self: flex-end;
			margin:5%;
			position: relative;
			top: -150px;

			@media#{$tablet}{
				width:50%;
			}
		}

		.img2{
			width: 90%;
			margin: 10% auto;
			@media#{$desktop}{
				display: none;
			}
		}
	}

	background-image: url("../img/BG6.weepingGreens.jpg");
}

.bgImg7{

	.cap7{

		.img1{
			position: relative;
			margin: 0 10% -10% 15%;
			top:-150px;
			display: none;
			@media#{$desktop}{
				display: block;
			}			
		}

		.cap-textBox{
			position: relative;
			width:80%;
			@media#{$tablet}{
				width:35%;
			}	
			h2{
				padding:2%;
				font-size: 1.7em;
			}

			p{
				padding:2%;
				line-height: 1.2rem;
			}

			img{
				position: absolute;
				top:-100%;
				right:-25%;
				width:40%;
			}
		}

	}

	//background-color:$botanMoss;
}

.bgImg8{

	.cap8{

		.scroll_IMG{
			width:85%;
			@media#{$desktop}{
				width: 50%;
			}
			
		}

		.img1{
			margin:15% auto;

			.img1-8d{
				@media#{$desktop}{
				position: relative;
				left:250px;
			}

			}
		}

		.img2{
			margin:5%;
			width:70%;
			align-self: flex-start;
			@media#{$desktop}{
				width: 50%;
				align-self: flex-end;
			}
		}


	}


	background-image: url("../img/BG8.redFlowers.jpg");
}

.bgImg9{

	background-color:$botanGreen;

	.cap9{

		.cap-textBox9{
			position: relative;
			width:80%;
			@media#{$tablet}{
				width:35%;
			}	
			h2{
				padding:2%;
				font-size: 2.5em;
				text-align: center;
			}
	
			p{
				padding:2%;
				line-height: 1.2rem;
			}
		}

		.scroll_IMG{
			margin: 5% auto;
		}

		.img2{
			width:35%;
		}

		.img3{
			width:13%;
			position: relative;
			left:0;
		}
	}

}


