/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'base/colors';
@import 'base/media';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}

.bttnBox{
	width:25%;
}

/* 2. Content ================================= */

.bgImg{
	min-height: 100vh;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.caption{
		width: 100%;
		display: flex;
		flex-direction: column;

		.scroll_IMG{
			width:45%;
			img{
				width:100%;
				border-radius: 5%;
			}
		}

		.img1{
			margin:15%;
		}

		.img2{
			align-self: flex-end;
			margin:5%;
		}

		.img3{
			position: relative;
			left:10%;
			
		}

		.cap-textBox{
			width: 50%;
			color: $botanText;
			align-self: center;
			margin:5%;
		}
	

	}
}

.bgImg1{
	background-image: url("../img/BG1.daisies.jpg");
	display: flex;
	align-items: center;
	.caption{
		
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		.hdr_imgs{
			width:100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			img{
				width:100%;
			}
			.bttnBox{
				width:25%;
				align-self: center;
			}
		}
		img.rabbitHole{
			width:15%;
			position: absolute;
			left: 15%;
			z-index: 99;
			bottom: -15%;
		}
		
	}
}


.bgImg2{
	background-image: url("../img/BG2.leaves.jpg");

	
}

.textBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height:100%;
	background-image: url("../img/botan1.jpg");
	background-size:cover;
	position: relative;
	@media #{$desktop}{
		flex-direction: row;
	}

	img.rabbitHole{
		width:20%;
		position: absolute;
		right: 15%;
		z-index: 99;
		top: -10%;
		@media #{$tablet}{
			width:15%;
		}
	}

	.txtBox1a, .txtBox1b{
		width:85%;
		padding:3%;
		margin:3%;
		color:$botanText;
		@media #{$tablet}{
			width:60%;
		}

	}

	.txtBox1a{
		font-size: 2em;
	}

	.txtBox1b{
		font-size: 1.2em;
		p{
			padding: 1%;
		}
	}

	
}

.bgImg3{

	background-image: url("../img/BG3.yellowFlowers.jpg");
}

.bgImg4{

	background-image: url("../img/BG4.purpleFlowers.jpg");
}

.bgImg5{

	background-image: url("../img/BG5.CheshireLeaves.jpg");
}

.bgImg6{

	background-image: url("../img/BG6.weepingGreens.jpg");
}

.bgImg7{

	background-color:$botanMoss;
}


.bgImg8{

	background-image: url("../img/BG8.redFlowers.jpg");
}


.bgImg9{

	background-color:$botanGreen;
}